.App {
	text-align: center;

	button {
		font-weight: bold;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 10% 10% 10%;
		background-color:  #1976d2;
		padding: 10px;
	}
	.student {
		color: white;
		padding: 1px;
		font-size: 15px;
		text-align: center;
		background-color:  #1976d2;
	}
	.text-box {
		margin: 1%;
	}
}
.row{
	display: flex;
	justify-content: space-between;
}
.block{
	background-color: #1976d2;
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
}
.center{
	color: #1976d2 ;
	background-color: white;
	text-align: center ;
}
.container{
	background-color: white;
	padding: 1rem;
	flex: 2;
}
.table{
 table-layout: fixed;
 width: '100%';
}
.PageStyle{
	background-color: pink;
}
