.App {
	text-align: center;

	button {
		font-weight: bold;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 10% 10% 10%;
		background-color: #727564;
		padding: 10px;
	}
	.student {
		border: 1px solid rgba(0, 0, 0, 0.8);
		padding: 1px;
		font-size: 15px;
		text-align: center;
		background-color: rgb(186, 224, 224);
	}
	.text-box {
		margin: 1%;
	}
}
.row{
	display: flex;
	justify-content: space-between;
}
.block{
	background-color: #1976d2;
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
}
.center{
	text-align: center ;
}
.container{
	background-color: white;
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
	border-color: #1976d2;
	border-width: 1rem;
	border-style: solid;
	flex: 2;
}
